<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>product</title>
</head>
<body>
    <div class="container">
        <divclass="container">
            <h1>Lista de productos</h1>
        </div>
        <div class="container">
            <a href="/add-product">Agrega producto</button>
        </div>
    </div>
</body>
</html>