.App {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.Button {
  margin: 10px;
  width: 100px;
  height: 40px;
}

.Loader__Container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
}